body {
    background-image: linear-gradient(aquamarine 0%, cornflowerblue 100%);
}

#score {
    font-size: 20px;
    margin-left: 20px;
}

#timer {
    font-size: 20px;
    float: right;
    margin-right: 20px;
}

#sketchTBD {
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, darkorange, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#label, #accuracy{
    font-size: 20px;
}

#show_sketch{
    float: right;
    margin-right: 20px;
    width: 125px;
    margin-left: -125px;
}
